# Core Framework
fastapi[standard]

# Environment Configuration
python-dotenv

# Database (SQLAlchemy + PostgreSQL example)
sqlalchemy
psycopg2-binary
aiosqlite
alembic
sqlalchemy_file
# HTTP Client (for making external API calls)
httpx

# Form Data & File Upload support
python-multipart
pydantic-settings==2.6.1
celery==5.4.0
redis>=4.5.0
loguru==0.7.3
requests==2.32.3
flower==2.0.1
websockets==15.0    # Библиотека для работы с WebSocket

booktype
pydantic==2.13.5 
pydantic-core==2.46.5
uvicorn==0.34.0     # ASGI сервер для запуска приложения
jinja2==3.1.5       # Шаблонизатор для рендеринга HTML
