# Core Framework
fastapi[standard]

# Environment Configuration
python-dotenv

# Database (SQLAlchemy + PostgreSQL example)
sqlalchemy
psycopg2-binary
aiosqlite
alembic
sqlalchemy_file
# HTTP Client (for making external API calls)
httpx

# Form Data & File Upload support
python-multipart
pydantic-settings==2.6.1
celery==5.4.0
redis==5.2.1
loguru==0.7.3
requests==2.32.3
flower==2.0.1

booktype
